table{
    border: 5px solid rgb(209, 209, 209);
    border-collapse: collapse;
}
caption {
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bold;
    color:rgb(148, 9, 9);
}
th{
    color:rgb(148, 9, 9);
}

