table{
    margin: auto;
    border: 5px outset lightgray;
}
caption {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bolder;
    color:rgb(148, 9, 9);
}
th{
    padding: 3px;
    border: 1.5px inset lightgray;
    background-color: rgb(212, 212, 212);
    color:rgb(148, 9, 9);
}

td{
    padding: 3px;
    border: 1.5px inset lightgray;
    font-weight: bold;
}

body {
    background: url(y.jpg);
}


