.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;

}

.item1, .item2, .item3 {
    width: 200px;
    border: 1px solid black;
}

.item1 {
    order: 2;
    margin: auto;
}

.item2 {
    order: 1;
}

.item3 {
    order: 10;
}