.menu5 {list-style-type: none;}
.menu5 li{margin-right: 4px; 
	float: left;
	border: 2px solid blue;
	padding: 4px;
	color: blue; 
	list-style-position: inside;
	font-weight: bold;}

.menu5 li:hover{
	background-color: rgb(67, 67, 67);;
	color: white;
	border: 2px solid black;
}
